body {
  font-family: 'Poppins', sans-serif;
}

input[type="file"] { 
	opacity: 0; /* make transparent */
	z-index: -1; /* move under anything else */
	position: absolute; /* don't let it take up space */
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.center {
  text-align: center;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 1%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.col-1-sm {
    width: 4.33%;
}

.col-2-sm {
    width: 12.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 29.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 54.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 79.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 33.75em) {

    /* 540px */
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 60em) {

    /* 960px */
    .container {
        width: 90%;
        max-width: 60rem;
    }
}

@media only screen and (min-width: 45em) {

    /* 720px */
    .col-1 {
        width: 6.33%;
    }

    .col-2 {
        width: 15.66%;
    }

    .col-3 {
        width: 23%;
    }

    .col-4 {
        width: 31.33%;
    }

    .col-5 {
        width: 39.66%;
    }

    .col-6 {
        width: 48%;
    }

    .col-7 {
        width: 56.33%;
    }

    .col-8 {
        width: 64.66%;
    }

    .col-9 {
        width: 73%;
    }

    .col-10 {
        width: 81.33%;
    }

    .col-11 {
        width: 89.66%;
    }

    .col-12 {
        width: 98%;
    }

    .hidden-sm {
        display: block;
    }
}